<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://anjalik-002-site2.etempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://anjalik-002-site2.etempurl.com:8172/MsDeploy.axd?site=anjalik-002-site2</MSDeployServiceURL>
    <DeployIisAppPath>anjalik-002-site2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>anjalik-002</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="SilverProductEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL6007.site4now.net;Initial Catalog=DB_A4E2A4_anjalik;Persist Security Info=True;User ID=DB_A4E2A4_anjalik_admin;Password=smartarika1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="p03_SilverProducts.Models.SilverProductEntities, p03-SilverProducts" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SilverProductEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.SilverProduct.csdl|res://*/Models.SilverProduct.ssdl|res://*/Models.SilverProduct.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL6007.site4now.net;Initial Catalog=DB_A4E2A4_anjalik;Persist Security Info=True;User ID=DB_A4E2A4_anjalik_admin;Password=smartarika1"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>