
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<style>
    .btn-transparent {
        background-color: rgba(0, 0, 0, 0.4);
    }
</style>

    <address>
        ANJALI KHOKER<br />
        C# and ASP.NET Developer<br />
        Whyteleafe,Surrey<br />
        London<br />
        <abbr title="Phone">P:</abbr>
        07475902974
    </address>

    <address>
        <strong>Email:</strong><a href="anjali_k@outlook.com">anjali_k@outlook.com</a>
    </address>

    <div>
        @Html.ActionLink("BACK", "Index1", null, new { @class = "btn btn-info btn-sm btn-transparent" })
    </div>


